@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Medium.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Book.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf);
  font-weight: 900;
}

* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "ExpoArabic" , sans-serif;
  scroll-behavior: smooth;
}

*::-moz-selection {
  background-color: #e9e6e2;
  color: #fff;
}

*::selection {
  background-color: #e9e6e2;
  color: #fff;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #ccc;
}

*::-webkit-scrollbar-thumb {
  background: #e9e6e2;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #e9e6e2;
}

.overflowNone {
  overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background-color: #FFD371;
  opacity: .5;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  opacity: 1;
}

.overflowNone {
  overflow: hidden;
}

@-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@-webkit-keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-left {
  0% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@-webkit-keyframes pulsecust {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulsecust {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes pulse-shadow {
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
            box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}

@keyframes pulse-shadow {
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
            box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg) scale3d(1, 1, 1);
            transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
            transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg) scale3d(1, 1, 1);
            transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    -webkit-transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
            transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*dropdown animation*/
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes wave {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

@keyframes wave {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

@-webkit-keyframes niceAnimate {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes niceAnimate {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes translation {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }
  100% {
    -webkit-transform: translateZ(10%);
            transform: translateZ(10%);
  }
}

@keyframes translation {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }
  100% {
    -webkit-transform: translateZ(10%);
            transform: translateZ(10%);
  }
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes translateX {
  0%,
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@keyframes translateX {
  0%,
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@-webkit-keyframes translateY {
  0%,
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@keyframes translateY {
  0%,
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg) translate(-50%, -50%);
            transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0) translate(-50%, -50%);
            transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg) translate(-50%, -50%);
            transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0) translate(-50%, -50%);
            transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}

@-webkit-keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 0px 35px -4px #00a4e6;
            box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    -webkit-box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
            box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}

@keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 0px 35px -4px #00a4e6;
            box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    -webkit-box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
            box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}

@-webkit-keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}

@keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}

@keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}

@-webkit-keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}

@keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}

@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

body {
  background-color: #f8f8f8;
}

.navbar {
  width: 100%;
  padding: 20px 0px;
  background-color: #e9e6e2;
}

.navbar .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .content .brand-name img {
  width: 120px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.navbar .content .form-contain {
  width: 350px;
  height: 50px;
  position: relative;
}

.navbar .content .form-contain .form-control {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: #f6f6f6;
  border: 1px solid rgba(149, 147, 145, 0.5);
  padding: 0px 30px;
  color: #131313;
  font-size: 15px;
  font-weight: 500;
}

.navbar .content .form-contain .form-control:hover, .navbar .content .form-contain .form-control:active {
  border: 1px solid #e9e6e2;
}

.navbar .content .form-contain .form-control::-webkit-input-placeholder {
  color: #333;
  font-size: 15px;
  font-weight: 500;
}

.navbar .content .form-contain .form-control:-ms-input-placeholder {
  color: #333;
  font-size: 15px;
  font-weight: 500;
}

.navbar .content .form-contain .form-control::-ms-input-placeholder {
  color: #333;
  font-size: 15px;
  font-weight: 500;
}

.navbar .content .form-contain .form-control::placeholder {
  color: #333;
  font-size: 15px;
  font-weight: 500;
}

.navbar .content .form-contain .fas {
  position: absolute;
  font-size: 18px;
  color: #333;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.navbar .content .form-contain:hover .fas {
  -webkit-animation: rotate 1s linear infinite;
          animation: rotate 1s linear infinite;
}

.navbar .content .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

.navbar .content .cart .count {
  width: 20px;
  height: 20px;
  background-color: #131313;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  z-index: 9992;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .content .cart .cart-img {
  width: 40px;
  height: 40px;
  background-color: #333;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0px 10px 10px 0px;
  overflow: hidden;
}

.navbar .content .cart .cart-img img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: invert(98%) sepia(0%) saturate(7471%) hue-rotate(183deg) brightness(117%) contrast(100%);
          filter: invert(98%) sepia(0%) saturate(7471%) hue-rotate(183deg) brightness(117%) contrast(100%);
}

.navbar .content .cart .contain {
  width: 120px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #959391;
  border-radius: 10px 0px 0px 10px;
  z-index: 9;
}

.navbar .content .cart .contain::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #333;
  top: 0;
  right: 0;
  border-radius: 10px;
  z-index: -1;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.navbar .content .cart .contain p {
  font-weight: 500;
  color: #131313;
  font-size: 15px;
  margin: 0px;
}

.navbar .content .cart:hover .cart-img img {
  -webkit-animation: translateX 1s linear infinite;
          animation: translateX 1s linear infinite;
}

.navbar .content .cart:hover .contain::after {
  width: 100%;
}

.navbar .content .cart:hover .contain p {
  color: #fff;
}

.products {
  width: 100%;
  padding: 100px 0px;
}

.products .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 20px 0px;
  border: 0px;
}

.products .nav::-webkit-scrollbar-track, .products .nav::-webkit-scrollbar-thumb, .products .nav::-webkit-scrollbar-thumb:hover {
  background: transparent !important;
}

.products .nav li {
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}

.products .nav li a {
  width: 200px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #959391;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #131313;
  font-size: 15px;
  font-weight: 500;
  padding: 0px !important;
  position: relative;
  overflow: hidden;
  z-index: 9;
}

.products .nav li a::after, .products .nav li a::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #131313;
  top: 0;
  z-index: -1;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.products .nav li a::after {
  left: 0;
}

.products .nav li a::before {
  right: 0px;
}

.products .nav li a:hover, .products .nav li a.active {
  color: #fff;
}

.products .nav li a:hover::after, .products .nav li a:hover::before, .products .nav li a.active::after, .products .nav li a.active::before {
  width: 55%;
}

.product-box {
  width: 100%;
  padding: 20px 10px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.product-box .image-content img {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.product-box .content {
  width: 100%;
  padding: 10px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-box .content h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 10px;
  color: #000;
  text-align: center;
}

.product-box .content p {
  color: #808080;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.product-box .content h4 {
  font-size: 17px;
  font-weight: 900;
  color: #131313;
  margin: 0px 0px 10px 0px;
  text-align: center;
}

.product-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.add-to-cart {
  --color: #ad945e;
  --icon: var(--color);
  --cart: #ad945e;
  --dots: #ad945e;
  --background: #fff;
  --shadow: rgba(0, 0, 0, 0.16);
  cursor: pointer;
  margin: 0px auto !important;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  border-radius: 4px;
  padding: 12px 23px;
  font-weight: 500;
  line-height: 20px;
  -webkit-transform: scale(var(--s, 0.97));
          transform: scale(var(--s, 0.97));
  color: var(--color);
  background: var(--background);
  border: 1px solid #ad945e;
  -webkit-transition: -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: transform .3s, box-shadow .3s;
  transition: transform .3s, box-shadow .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
}

.add-to-cart .default {
  padding-right: 16px;
  position: relative;
  opacity: var(--o, 1);
  -webkit-transform: scale(var(--s, 1));
          transform: scale(var(--s, 1));
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s, -webkit-transform .3s;
  -webkit-transition-delay: var(--d, 0.3s);
          transition-delay: var(--d, 0.3s);
  font-size: 15px;
  font-weight: 900;
  text-transform: capitalize;
}

.add-to-cart .default:before, .add-to-cart .default:after {
  content: '';
  width: 2px;
  height: 12px;
  right: 0;
  top: 4px;
  border-radius: 1px;
  background: var(--icon);
  position: absolute;
  -webkit-transform: rotate(var(--r, 0deg));
          transform: rotate(var(--r, 0deg));
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.add-to-cart .default:after {
  --r: 90deg;
}

.add-to-cart .success {
  opacity: var(--o, 0);
  -webkit-transform: translate(-50%, var(--y, 12px));
          transform: translate(-50%, var(--y, 12px));
  position: absolute;
  top: 12px;
  left: 50%;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-transition-delay: var(--d, 0s);
          transition-delay: var(--d, 0s);
  font-size: 15px;
  font-weight: 900;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-to-cart .success i {
  color: #fff;
  font-size: 20px;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}

.add-to-cart .dots {
  width: 4px;
  height: 4px;
  top: 20px;
  left: 50%;
  margin-left: -7px;
  border-radius: 2px;
  position: absolute;
  -webkit-transform-origin: 10px 50%;
          transform-origin: 10px 50%;
  background: #fff;
  -webkit-box-shadow: 5px 0 0 #fff, 10px 0 0 #fff;
          box-shadow: 5px 0 0 #fff, 10px 0 0 #fff;
  opacity: var(--o, 0);
  -webkit-transform: scale(var(--s, 0.4));
          transform: scale(var(--s, 0.4));
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-transition-delay: var(--d, 0s);
          transition-delay: var(--d, 0s);
}

.add-to-cart .cart {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: inherit;
  overflow: hidden;
}

.add-to-cart .cart:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 16px;
  background: #ad945e;
  top: 17px;
  right: 110%;
  z-index: 1;
  margin-right: -20px;
  -webkit-transform: translateX(-18px) rotate(-16deg);
          transform: translateX(-18px) rotate(-16deg);
}

.add-to-cart .cart > div {
  top: 13px;
  right: 100%;
  -webkit-transform: translateX(-18px) rotate(-16deg);
          transform: translateX(-18px) rotate(-16deg);
  position: absolute;
  z-index: 2;
  -webkit-transform-origin: 1px 21px;
          transform-origin: 1px 21px;
}

.add-to-cart .cart > div:before, .add-to-cart .cart > div:after {
  content: '';
  position: absolute;
  top: var(--t, 4px);
  left: var(--l, 0);
  height: 2px;
  width: var(--w, 18px);
  background: #fff;
  border-radius: 1px;
}

.add-to-cart .cart > div:after {
  --w: 16px;
  --t: 14px;
  --l: 1px;
}

.add-to-cart .cart > div > div {
  width: 2px;
  height: var(--h, 15px);
  border-radius: 1px;
  -webkit-transform: rotate(var(--r, -8deg));
          transform: rotate(var(--r, -8deg));
  background: #fff;
  position: relative;
}

.add-to-cart .cart > div > div:before, .add-to-cart .cart > div > div:after {
  content: '';
  position: absolute;
  background: inherit;
}

.add-to-cart .cart > div > div:after {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  bottom: var(--b, -6px);
  left: var(--l, 0);
}

.add-to-cart .cart > div > div:first-child:before {
  border-radius: inherit;
  top: 0;
  right: 0;
  height: 2px;
  width: 6px;
  -webkit-transform-origin: 5px 1px;
          transform-origin: 5px 1px;
  -webkit-transform: rotate(16deg);
          transform: rotate(16deg);
}

.add-to-cart .cart > div > div:last-child {
  --h: 12px;
  --r: 8deg;
  position: absolute;
  left: 16px;
  bottom: -1px;
}

.add-to-cart .cart > div > div:last-child:after {
  --l: -2px;
  --b: -5px;
}

.add-to-cart.added {
  background-color: #ad945e;
}

.add-to-cart.added .default {
  --o: 0;
  --s: .8;
  --d: 0s;
}

.add-to-cart.added .default:before {
  --r: -180deg;
}

.add-to-cart.added .default:after {
  --r: -90deg;
}

.add-to-cart.added .dots {
  --o: 1;
  --s: 1;
  --d: .3s;
  -webkit-animation: dots 2s linear forwards;
          animation: dots 2s linear forwards;
}

.add-to-cart.added .success {
  --o: 1;
  --y: 0;
  --d: 1.8s;
  color: #fff;
}

.add-to-cart.added .cart:before,
.add-to-cart.added .cart > div {
  -webkit-animation: cart 2s forwards;
          animation: cart 2s forwards;
}

.add-to-cart:not(.added):hover {
  --s: 1;
  --s-y: 8px;
  --s-b: 20px;
}

.add-to-cart:not(.added):active {
  --s: .94;
  --s-y: 2px;
  --s-b: 6px;
}

.cart-contain {
  width: 100%;
  padding: 50px 0px;
}

.cart-contain .heading h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 900;
  color: #131313;
}

.cart-contain .table-responsive {
  width: 100%;
  overflow-x: scroll;
}

.cart-contain .table-responsive::-webkit-scrollbar-track, .cart-contain .table-responsive::-webkit-scrollbar-thumb, .cart-contain .table-responsive::-webkit-scrollbar-thumb:hover {
  background: transparent !important;
}

.cart-contain .table-responsive table {
  width: 100%;
}

.cart-contain .table-responsive th {
  height: 50px;
  color: #131313;
  font-size: 15px;
  font-weight: 900;
}

.cart-contain .table-responsive td {
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

.cart-contain .table-responsive td .product-img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  margin: auto;
}

.cart-contain .table-responsive td .count {
  width: 90%;
  height: 40px;
  margin: auto;
  position: relative;
  border: 1px solid rgba(173, 148, 94, 0.3);
}

.cart-contain .table-responsive td .count .btn-count {
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  position: absolute;
  top: 9;
  border: 1px solid rgba(173, 148, 94, 0.4);
}

.cart-contain .table-responsive td .count .btn-count i {
  color: #ad945e;
  font-size: 15px;
}

.cart-contain .table-responsive td .count .btn-count.plus {
  left: 10px;
}

.cart-contain .table-responsive td .count .btn-count.min {
  right: 10px;
}

.cart-contain .table-responsive td .count .count-input {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 0px;
  text-align: center;
  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.cart-contain .table-responsive td .delete i {
  font-size: 15px;
  color: #e2384d;
}

.cart-contain .table-responsive th, .cart-contain .table-responsive td {
  min-width: 120px;
  text-align: center;
  border: 1px solid rgba(173, 148, 94, 0.5);
  background-color: #fff;
}

.cart-contain .button-contain {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-contain .button-contain .btn-shape {
  width: 150px;
  height: 50px;
  background-color: #ad945e;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-contain .button-contain .btn-shape img {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  -webkit-filter: invert(98%) sepia(0%) saturate(7471%) hue-rotate(183deg) brightness(117%) contrast(100%);
          filter: invert(98%) sepia(0%) saturate(7471%) hue-rotate(183deg) brightness(117%) contrast(100%);
}

.cart-contain .button-contain .btn-shape span {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.cart-contain .button-contain .btn-shape:hover img {
  -webkit-animation: translateX 1s linear infinite;
          animation: translateX 1s linear infinite;
}

@-webkit-keyframes dots {
  5% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-20px) rotate(-32deg);
            transform: translateY(-20px) rotate(-32deg);
    -webkit-box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
            box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  31% {
    -webkit-box-shadow: 5px -4px 0 var(--dots), 10px -8px 0 var(--dots);
            box-shadow: 5px -4px 0 var(--dots), 10px -8px 0 var(--dots);
  }
  32%,
  50% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  45%,
  100% {
    -webkit-box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
            box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  51%,
  100% {
    opacity: 0;
  }
}

@keyframes dots {
  5% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-20px) rotate(-32deg);
            transform: translateY(-20px) rotate(-32deg);
    -webkit-box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
            box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  31% {
    -webkit-box-shadow: 5px -4px 0 var(--dots), 10px -8px 0 var(--dots);
            box-shadow: 5px -4px 0 var(--dots), 10px -8px 0 var(--dots);
  }
  32%,
  50% {
    -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  45%,
  100% {
    -webkit-box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
            box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }
  51%,
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes cart {
  41%,
  49%,
  57%,
  60% {
    -webkit-transform: translateX(72px) rotate(0deg);
            transform: translateX(72px) rotate(0deg);
  }
  40%,
  47%,
  54% {
    -webkit-transform: translateX(72px) rotate(0deg) translateY(1px);
            transform: translateX(72px) rotate(0deg) translateY(1px);
  }
  100% {
    -webkit-transform: translateX(180px) rotate(-16deg);
            transform: translateX(180px) rotate(-16deg);
  }
}

@keyframes cart {
  41%,
  49%,
  57%,
  60% {
    -webkit-transform: translateX(72px) rotate(0deg);
            transform: translateX(72px) rotate(0deg);
  }
  40%,
  47%,
  54% {
    -webkit-transform: translateX(72px) rotate(0deg) translateY(1px);
            transform: translateX(72px) rotate(0deg) translateY(1px);
  }
  100% {
    -webkit-transform: translateX(180px) rotate(-16deg);
            transform: translateX(180px) rotate(-16deg);
  }
}

@media (max-width: 999px) {
  .navbar .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar .content .cart {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .navbar .content .cart .cart-img {
    border-radius: 50%;
  }
  .navbar .content .cart .contain {
    display: none;
  }
  .navbar .content .form-contain {
    width: 300px;
    margin-top: 10px;
  }
  .products {
    padding: 20px 0px;
  }
  .products .nav {
    padding: 0px 0px 3px !important;
  }
  .product-box .image-content img {
    height: 140px !important;
  }
  .product-box h2 {
    font-size: 15px;
  }
  .product-box p {
    font-size: 12px;
  }
  .product-box h4 {
    font-size: 14px;
  }
  .add-to-cart .success i,
  .add-to-cart .success,
  .add-to-cart .default {
    font-size: 10px;
  }
  .products .nav li a {
    width: 150px;
  }
}
/*# sourceMappingURL=style.css.map */